.hero-image {
  background-image: url('/images/luana_piratas_margorenate_mi-ola.jpeg');
  background-position: center;
  background-size: cover;
  color: $hero-image--font-color;
  display: flex;
  flex-direction: column;
  font-family: $josefin-sans;
  height: 300px;
  justify-content: flex-end;
  padding-bottom: 20px;
  padding-left: 20px;

  @media(min-width: $tablet) {
    height: 800px;
    justify-content: center;
    margin-top: -60px;
    padding-bottom: 0;
    padding-left: 60px;
  }

  &__headline {
    animation: fadeInDown 1s ease-in-out 1s;
    animation-fill-mode: forwards;
    font-size: 1.3rem;
    line-height: 1.9rem;
    margin-bottom: .5rem;
    opacity: 0;

    @media(min-width: $tablet) {
      font-size: 2rem;
      line-height: 3rem;
    }
  }

  &__subtitle {
    animation: fadeInDown 1s ease-in-out 1s;
    animation-fill-mode: forwards;
    line-height: 1.2rem;
    opacity: 0;

    @media(min-width: $tablet) {
      font-size: 1.4rem;
      line-height: 2rem;
    }
  }
}
