$navbar--background-color--mobile: #333;
$navbar--background-color--desktop: rgba(0, 0, 0, .7);
$border-color: #fff;

$hero-image--font-color: #fff;

$josefin-sans: 'Josefin Sans', Helvetica, Arial, sans-serif;
$lato: 'Lato', Helvetica, Arial, sans-serif;

$tablet: 768px;
$desktop: 992px;
